.about-container {
  margin: 150px 10px;
  background-color: white;
  border-radius: 10px;
  padding: 30px;
}

.about-container h1 {
  font-size: 36px;
}

.about-container hr {
  height: 2px;
  border-radius: 2px;
  background-color: rgb(83, 217, 253);
  border-color: rgb(83, 217, 253);
  width: 150px;
  margin-bottom: 50px;
}

.about-content img {
  width: 60%;
  height: 60%;
  margin: 10px 20%;
}

.about-container p {
  line-height: 1.5;
  font-size: 19px;
}

/* about after image */

.about-info-content {
  margin-top: 50px;
}

.about-info-content h2 {
  font-size: 28px;
}

.about-info-content p {
  line-height: 1.5;
  font-size: 19px;
  margin-top: 25px;
  margin-bottom: 50px;
}

.info-detail ul li {
  list-style: none;
  margin: 35px;
  font-size: 20px;
}

.about-icons {
  color: rgb(83, 217, 253);
  margin: 0px 10px;
  border-color: rgb(119, 222, 250);
}

@media (max-width: 500px) {
  .about-container {
    margin: 50px 10px;
  }

  .about-container h1 {
    font-size: 27px;
  }

  .about-container hr {
    height: 1.5px;
    width: 100px;
    margin-bottom: 30px;
  }

  .about-content img {
    width: 50%;
    height: 50%;
  }

  .about-container p {
    line-height: 1.5;
    font-size: 15px;
  }

  /* about after image */

  .about-info-content {
    margin-top: 40px;
  }

  .about-info-content h2 {
    font-size: 23px;
  }

  .about-info-content p {
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 30px;
  }

  .info-detail ul li {
    margin: 25px 0px;
    font-size: 17px;
  }

  .about-icons {
    color: rgb(83, 217, 253);
    margin-right: 10px;
    border-color: rgb(119, 222, 250);
  }
}

@media (min-width: 768px) {
  .about-container {
    width: 60%;
    margin-left: 30%;
  }

  .about-container h1 {
    font-size: 35px;
  }
  .about-container p {
    font-size: 17px;
  }
  .about-content {
    display: flex;
    flex-direction: row;
  }
  .about-content img {
    width: 20%;
    height: 20%;
    margin: 0px 20px;
  }

  /* about after image */
  .about-info-content h2 {
    font-size: 28px;
  }
  .about-info-content p {
    font-size: 17px;
  }

  .info-detail-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .info-detail {
    width: 50%;
  }
  .info-detail ul li {
    font-size: 17px;
    margin-left: 0px;
  }

  .about-icons {
    color: rgb(83, 217, 253);
    margin: 0px 10px;
    border-color: rgb(119, 222, 250);
  }
}
