.contact-container {
  margin: 10px;
  margin-top: 150px;
  padding: 30px;
  background-color: #fff;
  border-radius: 10px;
}

.contact-container h1 {
  font-size: 36px;
}
.contact-container hr {
  height: 2px;
  border-radius: 2px;
  background-color: rgb(83, 217, 253);
  border-color: rgb(83, 217, 253);
  width: 150px;
  margin-bottom: 50px;
}

.contact-head p {
  line-height: 1.2;
  font-size: 18px;
  margin-bottom: 30px;
}

.contact-details {
  margin: 10px;
  padding: 30px;
  background-color: aliceblue;
  border-radius: 10px;
}

.contact-details ul {
  list-style: none;
}
.contact-details ul li {
  margin-bottom: 30px;
  margin-left: 50px;
}

.contact-details ul li p {
  font-size: 27px;
  margin-bottom: -10px;
}

.contact-icon {
  font-size: 25px;
  color: rgb(83, 217, 253);
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(83, 217, 253);
  padding: 8px;
  border-radius: 50%;
  margin-left: -60px;
  margin-bottom: -45px;
}

@media (max-width: 500px) {
  .contact-container {
    margin-top: 50px;
  }

  .contact-container h1 {
    font-size: 27px;
  }
  .contact-container hr {
    height: 1.5px;

    width: 120px;
    margin-bottom: 40px;
  }

  .contact-head p {
    font-size: 16px;
    margin-bottom: 20px;
  }

  .contact-details {
    padding: 20px;
  }

  .contact-details ul li {
    margin-bottom: 20px;
    margin-left: 50px;
    font-size: 14px;
  }

  .contact-details ul li p {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: -10px;
  }

  .contact-icon {
    font-size: 18px;
    margin-left: -55px;
    margin-bottom: -35px;
  }
}

@media (min-width: 768px) {
  .contact-container {
    width: 60%;
    margin-left: 30%;
  }
  .contact-container h1 {
    font-size: 35px;
  }

  .contact-container p {
    font-size: 17px;
  }

  .contact-details ul li p {
    font-size: 20px;
    font-weight: 650;
  }
  .contact-icon {
    font-size: 20px;
    margin-bottom: -40px;
  }
}
